/WIPFiles
/Reference Files

/Reproducible Section/Step 4 - Stage 2 Screening/SLR-Stage2-ExcludedPapers/files
/Reproducible Section/Step 4 - Stage 2 Screening/SLR-Stage2-WIP/files

/Reproducible Section/Step 4 - Stage 2 Screening/SLR-Stage2-ExcludedPapers/SLR-Stage2/files
/Reproducible Section/Step 4 - Stage 2 Screening/SLR-Stage2-FINAL/files
